*{
  box-sizing: border-box;
}

.clock{
  margin-top: 10%;
}

.time{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: bold;
}

.time-span-white{
  padding: 2rem 3rem;
  border: 5px solid black;
  border-radius: 5rem;
}

.time-span-black{
  padding: 2rem 3rem;
  border: 5px solid white;
  border-radius: 5rem;
}